// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-10-container {
  .tips {
    display: block;
  }
  .top-10-list {
    display: none;
  }
}

.parent {
  display: flex;

  .left {
    flex: 3;
  }
  .right {
    flex: 1;
  }
}
